<header>
  <div class="w-full max-w-5xl mx-auto flex items-center justify-between h-24">
    <h1 class="text-3xl font-bold text-white">{{ pageTitle }}</h1>

    @if(!authService.isLoggedIn()){
      <button
        (click)="showAuthModal()"
        class="px-6 py-3 flex items-center gap-2 font-semibold bg-violet-600 hover:bg-violet-800 transition-colors rounded-lg cursor-pointer"
      >
        <i class="pi pi-user"></i>
        <span>Entrar</span>
      </button>
    }

    @if(authService.isLoggedIn()){
      <button
        (click)="onMainActionClick()"
        class="px-6 py-3 flex items-center gap-2 font-semibold bg-violet-600 hover:bg-violet-800 transition-colors rounded-lg cursor-pointer"
      >
        <i [class]="actionButtonIcon" class="text-white"></i>
        <span>{{ actionButtonText }}</span>
      </button>
    }
  </div>

  <p-dialog
    [header]="modalHeader"
    [(visible)]="displayModal"
    [modal]="true"
    [closable]="true"
    [breakpoints]="{ '1500px': '40vw', '1199px': '75vw', '575px': '90vw' }" [style]="{ width: 'auto' }"
    class="bg-zinc-900"
  >
    @switch (modalContent) {
      @case ('auth') {
        <ng-container>
          <app-login-form
            *ngIf="!showCreateAccountForm"
            (switchToCreateAccount)="toggleFormView()"
          />
          <app-create-account-form
            *ngIf="showCreateAccountForm"
            (switchToLogin)="toggleFormView()"
          />
        </ng-container>
      }
      @case ('habit') {
        <app-habit-form (habitSaved)="onItemSaved()" />
      }
      @case ('category') {
        <p>
          teste categoria
        </p>
      }
      @case ('profile') {
        <app-profile-form />
      }
      @case ('change-password') {
        <app-change-password-form />
      }
    }
  </p-dialog>
</header>
