<form (ngSubmit)="onSubmit()" #loginForm="ngForm" class="mx-auto w-full min-w-[300px] 2xl:min-w-[400px] flex flex-col items-center gap-4">
  <!-- <h2 class="text-2xl font-bold text-white text-center mb-4">Login</h2> -->

  <app-text-input
    label="Email"
    placeholder="Digite seu email"
    name="email"
    type="email"
    [(ngModel)]="credentials.email"
    required
    email
    #emailInput="ngModel"
    class="w-full"
  ></app-text-input>

  @if (emailInput.invalid && (emailInput.dirty || emailInput.touched)) {
    <div class="text-red-400 text-sm -mt-2">
      @if (emailInput.errors?.['required']) {
        <p>O email é obrigatório.</p>
      }
      @if (emailInput.errors?.['email']) {
        <p>Por favor, insira um email válido.</p>
      }
    </div>
  }

  <app-text-input
    label="Senha"
    placeholder="Digite sua senha"
    name="password"
    type="password"
    [(ngModel)]="credentials.password"
    required
    #passwordInput="ngModel"
    class="w-full"
  ></app-text-input>

  <button
    type="submit"
    [disabled]="!loginForm.valid"
    class="mt-6 rounded-lg p-4 flex items-center justify-center gap-3 font-semibold bg-violet-600 hover:bg-violet-500 transition-colors focus:outline-none focus:ring-2 focus:ring-violet-800 focus:ring-offset-2 focus:ring-offset-zinc-900 disabled:opacity-50 disabled:cursor-not-allowed"
  >
    Entrar
  </button>

  @if(errorMessage) {
    <p class="text-red-400 text-center mt-2">{{ errorMessage }}</p>
  }

  <p class="text-sm text-zinc-400 mt-4">
    Não tem uma conta?
    <a (click)="onSwitchForm()" class="text-violet-400 hover:underline font-semibold cursor-pointer">
      Crie uma agora
    </a>
  </p>

</form>
