<div class="relative inline-block w-full" #triggerWrapper>
  <!-- Trigger -->
  <div (click)="toggle()" class="w-fit">
    <ng-content select="[popover-trigger]"></ng-content>
  </div>

  <!-- Popover Content -->
  <div
    *ngIf="open"
    class="absolute z-50 w-80 rounded-xl bg-zinc-900 p-4 shadow-lg"
    [ngClass]="{
      'top-full mt-3': !renderAbove,
      'bottom-full mb-3': renderAbove
    }"
    [ngStyle]="{
      left: '50%',
      transform: renderAbove ? 'translateX(-50%)' : 'translateX(-7%)'
    }"
    #popoverContent
  >
    <!-- Seta -->
    <div
      class="absolute w-3 h-3 rotate-45 bg-zinc-900"
      [ngClass]="{
        'top-[-6px] left-1/2 -translate-x-1/2': !renderAbove,
        'bottom-[-6px] left-1/2 -translate-x-1/2': renderAbove
      }"
    ></div>

    <ng-content select="[popover-content]"></ng-content>
  </div>
</div>
