<div class="w-full flex flex-col gap-3">
  <label [for]="name" class="font-semibold leading-tight">
    {{ label }}
  </label>

  <div class="relative w-full">
    <input
      [type]="inputType" [id]="name"
      [placeholder]="placeholder"
      [name]="name"
      [value]="value"
      (input)="onInputChange($event)"
      (blur)="onTouched()"
      (focus)="focus.emit()"
      class="p-4 w-full rounded-lg bg-zinc-800 text-white placeholder:text-zinc-400 focus:outline-none focus:ring-2 focus:ring-violet-800 focus:ring-offset-2 focus:ring-offset-zinc-900"
      [required]="required"
    />

    @if (type === 'password') {
      <button
        type="button"
        (click)="togglePasswordVisibility()"
        class="absolute inset-y-0 right-0 flex items-center pr-4 text-zinc-400 hover:text-white"
        aria-label="Mostrar ou esconder senha"
      >
        @if (isPasswordVisible) {
          <i class="pi pi-eye-slash text-xl"></i> } @else {
          <i class="pi pi-eye text-xl"></i> }
      </button>
    }
  </div>
</div>
